/* Ajuste de ancho de listas desplegables */
.ql-snow .ql-picker.ql-size {
    width: 60px;
}
.ql-snow .ql-picker.ql-font {
    width: 160px !important;
}

/* Tamaños disponibles */
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: "13";
}
.ql-snow .ql-size .ql-picker-label[data-value="8px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="8px"]::before {
    content: "8";
    font-size: 8px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="9px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="9px"]::before {
    content: "9";
    font-size: 9px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="10px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="10px"]::before {
    content: "10";
    font-size: 10px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="11px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="11px"]::before {
    content: "11";
    font-size: 11px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="12px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="12px"]::before {
    content: "12";
    font-size: 12px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="14px"]::before {
    content: "14";
    font-size: 14px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="16px"]::before {
    content: "16";
    font-size: 16px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="18px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="18px"]::before {
    content: "18";
    font-size: 18px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="20px"]::before {
    content: "20";
    font-size: 20px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="22px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="22px"]::before {
    content: "22";
    font-size: 22px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="24px"]::before {
    content: "24";
    font-size: 24px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="26px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="26px"]::before {
    content: "26";
    font-size: 26px !important;
}
.ql-snow .ql-size .ql-picker-label[data-value="28px"]::before,
.ql-snow .ql-size .ql-picker-item[data-value="28px"]::before {
    content: "28";
    font-size: 28px !important;
}

/* Fuentes disponibles */
.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: "Arial";
}
.ql-snow .ql-font .ql-picker-label[data-value="times-new-roman"]::before,
.ql-snow .ql-font .ql-picker-item[data-value="times-new-roman"]::before {
  content: "Times New Roman";
  font-family: "Times New Roman" !important;
}
.ql-snow .ql-font .ql-picker-label[data-value="cascadia"]::before,
.ql-snow .ql-font .ql-picker-item[data-value="cascadia"]::before {
  content: "Cascadia Mono";
  font-family: "Cascadia Mono" !important;
}

.ql-font-times-new-roman {
    font-family: "Times New Roman";
}
.ql-font-cascadia {
    font-family: "Cascadia Mono";
}